body{
    background-color: #000000;
    background-image: url('https://i.giphy.com/media/kZLI58uTJvSyOgjOCd/giphy.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: rgb(255, 255, 255);
      background-color: rgb(102, 7, 94);
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    
    }
  
    .card button:hover {
      opacity: 0.7;
    }
    h1 {
        font-size: 50px;
        color: rgb(100, 20, 175);
        text-align: center;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffffff, 0 0 20px #de00e6, 0 0 25px #7f00e6, 0 0 30px #9a00b9, 0 0 35px #7e09ac;
    }
    h2 {
      font-size: 60px;
      color: #fff;
      text-align: center;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;

    }
    
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(33, 20, 65); 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 170); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 137, 241); 
    
  }
  
    